config TCC_SHMEM
	default n
	depends on ARCH_TCC
	bool "TCC shared memory driver"

config TCC_WMIXER
  tristate "Telechips Wmixer driver"
  depends on ARCH_TCC
  default y
  help
    Telechips Wmixer driver

config TCC_SCALER
	tristate "Telechips scaler driver"
	depends on ARCH_TCC
	default y
	help
		Telechips scaler driver

config TCC_SDR
	tristate "Telechips DAI Radio Mode Driver"
	depends on (ARCH_TCC803X || ARCH_TCC805X || ARCH_TCC899X || ARCH_TCC901X)
	default n
	help
		Telechips DAI Radio Mode Driver

config GPIO_TCC_SAMPLE
	default n
	depends on PINCTRL_TCC
	depends on ARCH_TCC
	bool "TCC gpio sample driver"
	help
		Telechips GPIO test driver
